venv
Analizador-de-Sentimientos-y-Emociones-App/duracion_orador.png
Analizador-de-Sentimientos-y-Emociones-App/emocion_orador.png
Analizador-de-Sentimientos-y-Emociones-App/emocion_total.png
Analizador-de-Sentimientos-y-Emociones-App/informe_AS-EC.pdf
Analizador-de-Sentimientos-y-Emociones-App/palabras_frecuentes.png
Analizador-de-Sentimientos-y-Emociones-App/sentimiento_orador.png
Analizador-de-Sentimientos-y-Emociones-App/sentimiento_tiempo.png
Analizador-de-Sentimientos-y-Emociones-App/sentimiento_tiempo_speakers.png
Analizador-de-Sentimientos-y-Emociones-App/sentimiento_total.png
Analizador-de-Sentimientos-y-Emociones-App/transcription.txt
Analizador-de-Sentimientos-y-Emociones-App/wordcloud.png
